header{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
}

header nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

header nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}

header nav ul li{
    padding: 20px;
    
}

header nav ul li a{
    color: white;
}

.hero{
    background-image: url('../images/Colorful-Plait-Background.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.hero h2{
    position: absolute;
    margin-left: 175px;
    margin-top: 165px;
    background-color:rgba(255, 246, 143, 0.75);
    
}

.bio-me{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.bio-me h2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width:30%;   
    font-size: 30px;
}    

.work{
    padding-left: 30px;
}

.bio-me h2::after{
    content: " ";
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-right: 2px solid black;
    height: 100px;
    padding-left: 10px;
}

.bio{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;
    margin-left: -70px;
}

@media screen and (max-width:768px){
    .bio-me h2{
        width: 70%;
        border-right: 0;
        border-bottom: 2px solid black;
        
    }

    .bio-me h2::after{
        display: none;
    }

    .bio{
        width: 100%;
        margin:0 auto;
    }
}