header{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    position: sticky;
    top:0;
    z-index: 9999;
}

header nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

header nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}

header nav ul li{
    padding: 20px;
    
}

header nav ul li a{
    color: white;
}

.hero{
    background-image: url('../images/Colorful-Plait-Background.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    
}

.hero h2{
    position: absolute;
    margin-top: 150px;
    margin-left: 1000px;
    background-color:rgba(255, 246, 143, 0.75);
    font-size: 30px;
}

.bio-me{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.bio-me h2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width:30%;   
    font-size: 30px;
}    

.work{
    padding-left: 30px;
}

.contact{
    padding-right: 80px;
}

.bio-me h2::after{
    content: " ";
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-right: 2px solid black;
    height: 100px;
    padding-left: 10px;
}

.bio{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;
    margin-left: -70px;
}

.contact-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-link ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    
}

.contact-link ul li{
    padding: 20px;
    
}

.contact-link ul li a{
    color: black;
}

.service-grid-wrapper{
    display: flex;
    justify-content: left;
    width: 100%;

}

.service-grid-container{
    display: grid;
    grid-template-columns: repeat(3,50fr);
    grid-template-rows: repeat(3,50fr);
    
    color: #024e76;
    grid-gap: 10px;
}

.service-grid-item{
    
    display: flex;
    align-items: center;
    justify-content: left;
    
    
}

.first-proj{
    grid-row: 1/span 2;
    grid-column: 1/span 2;
}


.proj-img > img{
    max-width: 100%;
    object-fit: cover;
    max-height: 100%;
    display: block;
}

@media screen and (max-width:768px){
    .bio-me h2{
        width: 70%;
        border-right: 0;
        border-bottom: 2px solid black;
        
    }

    .bio-me h2::after{
        display: none;
    }

    .bio{
        width: 100%;
        margin:0 auto;
    }

    .work, .contact{
        padding-left: 0;
        padding-right: 0;
    }

    .contact ul{
        padding-right: 40px;
    }

    .service-grid-container{
        
        grid-template-columns: repeat(1,50fr);
        grid-template-rows: repeat(1,50fr);
        
    }

    .first-proj{
        grid-row: 1/span 1;
        grid-column: 1/span 1;
    }
}